@model IParkT_Authentication.Models.Reservation

@{
    ViewData["Title"] = "Operations Menu";
}

<h1 style="text-align: center">Operations Menu</h1>
<br />
<br />

<div class="row">
    <div class="col-4"><h3>Parking spot listing</h3><img src="\assets\mapa_estancionamento_numerado.png" class="img-fluid" alt="Mapa do estancionamento"></div>
    <div class="col-4"><h3>Occupied parking spots</h3></div>
    <div class="col-4">
        <h3>Choose your operation</h3>
        <a class="display-5 nav-link text-dark" asp-controller="Reservation" asp-action="Create">Make a new reservation</a>
        <a class="display-5 nav-link text-dark" asp-controller="Reservation" asp-action="Edit">Edit existing reservation</a>
        <a class="display-5 nav-link text-dark" asp-controller="Reservation" asp-action="Delete">Delete existing reservation</a>
        <a class="display-5 nav-link text-dark" asp-controller="Reservation" asp-action="List">List of my reservations</a>
    </div>

</div>

