@model IParkT_Authentication.Models.Reservation

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h4>Reservation</h4>
<div class="text-left">
    <a class="display-4 nav-link text-dark" asp-controller="Reservation" asp-action="Create">Make reservation</a>
    <a class="display-4 nav-link text-dark" asp-controller="Reservation" asp-action="Edit">Edit reservation</a>
    <a class="display-4 nav-link text-dark" asp-controller="Reservation" asp-action="Delete">Delete reservation</a>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
