@model IEnumerable<IParkT_Authentication.Models.Reservation>

@{
    ViewData["Title"] = "Map";
}

<h1>Mapa de de lugares disponiveis</h1>



<div class="container">
    <div class="row">
        <div class="col-6"><img src="\assets\mapa_estancionamento_numerado.png" class="img-fluid" alt="Mapa do estancionamento"></div>
        
        
        <div class="col-6">
            <h1>numeros dos lugares disponiveis</h1>
            <table class="table">
                <tbody>
                   colocar array com subconsulta de lugares ocupados, subconsulta feita atravez de horas final de reserva e hora atual
                </tbody>
            </table>
            <p>
                <a asp-action="Create">Make a new Reservation</a>
            </p>
        </div>

       

    </div>
</div>
