@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User)) { 
    <div class="text-center">
        <h1 class="display-4">IParkTDB</h1>
        <a class="nav-link text-dark" asp-controller="Reservation" asp-action="Index">Make a reservation</a>
    </div>
}
else
{
<div class="text-center">
    <h1 class="display-4">IParkTDB</h1>
</div>
}
